In [3]:
print(2+3)

5

In [4]:
print(2+3)

5

In [8]:
#printsetup
s = '서울'
d = '대전'
g = '대구'
b = '부산'
print(s, d, g, b, sep='   ')

서울   대전   대구   부산

In [12]:
a = '강아지'
b = '고양이'
print(a, end = ' ')
print(b)

강아지 고양이

In [13]:
name = input('이름을 입력하세요 : ')
print ('안녕하세요', name, '님')

이름을 입력하세요 :  s

안녕하세요 s 님

In [14]:
s = """
    오늘은 python 첫 수업
    내일은 두 번째
    모레는 세번쩨
"""
print(s)

    오늘은 python 첫 수업
    내일은 두 번째
    모레는 세번쩨

In [15]:
s = "korea" "japan" "USA"
print(s)

koreajapanUSA

In [18]:
price = int(input('가격을 입력하세요: '))
num = int(input('수량을 입력하세요: '))
sum = price * num
print('총액은', sum, '원 입니다.')

가격을 입력하세요:  1000
수량을 입력하세요:  5

총액은 5000 원 입니다.

In [22]:
print('Python\'s favorite \n food is perl')

Python's favorite
 food is perl

In [24]:
a = 'python'
print(a * 5 )

pythonpythonpythonpythonpython

In [26]:
a = 'Life is too shortm You need Python'
print(len(a))

34

In [30]:
print(a[0],a[1],a[2],a[3],a[-1], a[-2] )

L i f e n o

In [33]:
print(a[0:4])
#slicing

Life

In [34]:
print(a[12:17])

short

In [35]:
print(a[:17])

Life is too short

In [41]:
a = '202550219Rainy'
date = a[:8]
weather = a[9:]
print(date, weather)

20255021 Rainy

In [70]:
a = 'pithon'
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [44]:
#문자열 포매팅
#" 현재 온도는 18도 입니다.'
a = 18
print('현재온도는 %d도 입니다. ' %a)

현재온도는 18도 입니다.

In [57]:
a = 'five'
b = 3
print ('I ate %s apple, %d banana' %(a, b))

I ate five apple, 3 banana

In [52]:
print('%0.2f' %3.1434346)

3.14

In [53]:
print('I eat {0} apple, {1} banana'.format('five',3))

I eat five apple, 3 banana

In [55]:
print('I eat num apple, number banana'.format(num = 'five',number = 3))

I eat num apple, number banana

In [56]:
name = '홍길동'
age = 20
print(f'My name is {name}. age is {age}.')

My name is 홍길동. age is 20.

In [58]:
#print(a, b, c)
#print('  %d  $s   ' %(a,b))
#print(' {0}   {1}   ' .format(a, b))
#print(f' {name}   {age}   ')

In [60]:
#a = True
a = 'Python'
print(type(a))

<class 'str'>

In [69]:
#a = 'Python'
#a = [1, 2, 3]
#a = (1, 2, 3)
#a = 1
#a = []
#a = ''
#a = None
#a = {}
a = False
if a:
    print('true')
else:
    print('false')
#print(type(a))

false