In [22]:
x = ['a', 1, 'b',2, 'a', 3, 'b', 4, 5, 'b']
# u = []
number = []
string = []
# for item in x:
#     if item not in u:
#         u.append(item)
        
for item in x :
    if isinstance(item, int):
        if item not in number:
            number.append(item)
    elif isinstance(item, str):
         if item not in string:
            string.append(item)
result = number + string
# print(u)
print(result)

[1, 2, 3, 4, 5, 'a', 'b']

In [24]:
ex1 = []

for i in x:
    if i not in ex1:
        ex1.append(i)
ex1.sort(key=lambda x: isinstance(x, str))
# 숫자면 0 문자면 1로 반환해서 숫자-문자 순으로 되도록 정렬해줌
print(ex1)

[1, 2, 3, 4, 5, 'a', 'b']

In [30]:
ex2 = list(set(x))
ex2.sort(key=lambda x: isinstance(x, str))
print(ex2)

[1, 2, 3, 4, 5, 'b', 'a']

In [32]:
#문자열 함수
a = ",".join('abcd')
b ='_'.join(['a', 'b', 'c', 'd'])
print(a)
print(b)

a,b,c,d
a_b_c_d

In [34]:
a = 'life:is:too:short'
print(a.split(':'))

['life', 'is', 'too', 'short']

In [35]:
sentence = "사과 딸기 바나나 포도"
words = sentence.split()
print(words)

['사과', '딸기', '바나나', '포도']

In [41]:
#dictionary
a = {1: 'a'}
print(a[1])
a[2] = '박길동'
print(a)
a['name'] = '김길동'
print(a)
print(a['name'])
del a['name']
print(a)

a
{1: 'a', 2: '박길동'}
{1: 'a', 2: '박길동', 'name': '김길동'}
김길동
{1: 'a', 2: '박길동'}

In [47]:
a = {'name': '홍길동', 'phone': '010-1111-2222', 'birth': '0520'}
print(list(a.keys()))
for k in a.keys():
    print(k)
print(list(a.items()))
print(a['name'])
print(a.get('name'))
print(list(a.values()))

['name', 'phone', 'birth']
name
phone
birth
[('name', '홍길동'), ('phone', '010-1111-2222'), ('birth', '0520')]
홍길동
홍길동
['홍길동', '010-1111-2222', '0520']

In [6]:
d = {'a':17, 'b': 114, 'c':247, 'd': 362, 'e':220, 'f':728, 'g':-283, 'h':922}
# totalsum = list(d.values())
# print(totalsum)
for num in totalsum:
    cal =+ num
#cal += [num for num in totalsum ]

print(cal)

922

In [59]:
total = 0
for i in d.values():
    total += i
print(total)

2327

In [1]:
d = {'a':17, 'b': 114, 'c':247, 'd': 362, 'e':220, 'f':728, 'g':-283, 'h':922}
print(f'합: {sum(d.values())}')

합: 2327

In [2]:
print(f' result : {sum([d[item] for item in d])}')

 result : 2327

In [3]:
from functools import reduce
print(f' result : {sum([d[item] for item in d])}')

 result : 2327

In [68]:
from functools import reduce
print(f' result : {reduce(lambda x,y: x+y, d.values())}')

 result : 2327

In [18]:
d = {'a': 8, 'b':33, 'c':15, 'd': 26, 'e': 12, 'f': 120 }
res = {}

for i in d.values():
    if i >= 25:
        print(f'{d.keys()}:{d.values()}')
    else:
        continue
# print(f'결과: {d} if d.value() >= 25')
#print(i)

dict_keys(['a', 'b', 'c', 'd', 'e', 'f']):dict_values([8, 33, 15, 26, 12, 120])
dict_keys(['a', 'b', 'c', 'd', 'e', 'f']):dict_values([8, 33, 15, 26, 12, 120])
dict_keys(['a', 'b', 'c', 'd', 'e', 'f']):dict_values([8, 33, 15, 26, 12, 120])

In [19]:
d = {'a': 8, 'b':33, 'c':15, 'd': 26, 'e': 12, 'f': 120 }

ex1 = {}

for k, v in d.items():
    if v >= 25:
        ex1[k] =v
        
print(f'ex1 : {ex1}')

ex1 : {'b': 33, 'd': 26, 'f': 120}

In [20]:
ex2 = {k: v for k, v in d.items() if v >= 25}

print(f'ex2: {ex2}')

ex2: {'b': 33, 'd': 26, 'f': 120}

In [22]:
ex3 = dict(filter(lambda v: v[1] >= 25, d.items())) #v[0] == key
print(f'ex3: {ex3}')

ex3: {'b': 33, 'd': 26, 'f': 120}

In [26]:
def add(a, b):
    return a + b
print(add(10, 20))

30

In [28]:
def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result

print(add_many(1, 2, 3, 4, 5))
print(add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

15
55

In [29]:
def print_kwargs(**kwargs):
    print(kwargs)
    
print(print_kwargs(name = 'a', age='20'))

{'name': 'a', 'age': '20'}
None

In [30]:
def add_and_mul(a, b):
    return a +b, a*b

result = add_and_mul(3,4)
print(result)

(7, 12)

In [31]:
def add_and_mul(a, b):
    return a +b, a*b

result1, result2 = add_and_mul(3,4)
print(result1, result2)

7 12

In [38]:
ex_dict = {'a': 1, 'b':3, 'c': 5}

# val = ex_dict.values()
val = [n for n in val if n >2]
print(ex_dict.items())
# print([n for n in val if n >2])
# print(f"ex_dict.items(): {ex_dict.items()}")
# print(f"val: {val}")
re_dict = dict(zip(ex_dict.keys(), val))
print(f"원래 키와 val로 재구성한 딕셔너리: {re_dict}")

dict_items([('a', 1), ('b', 3), ('c', 5)])
원래 키와 val로 재구성한 딕셔너리: {'a': 3, 'b': 5}

In [49]:
a = 1
def vargest(a):
    a = a + 1  
    # 지역변수
    return a
    
# vargest(a)
a = vargest(a)
print(a)

2

In [50]:
a = 1
def vargest():
    global a
    a = a + 1  
    # 전역변수
    # return a
vargest()
print(a)

2

In [54]:
a = 20

def test():
    global a
    print(f'ex3 : {a}') #100
    
    a = 35
    return a
print(f'ex1 : {a}')  #20
a = 100
print(f'ex2 : {a}') #100
print(f'ex4 : {test()}') #35
print(f'ex5 : {a}')# 35

ex1 : 20
ex2 : 100
ex3 : 100
ex4 : 35
ex5 : 35

In [68]:
in_str = 'suppose we have few words that are separated by spaces'
in_list = in_str.split()
print(in_list)
# print(f'원래 문자열: {in_str}')
# print(f'리스트: {in_list}')
print(f'리스트의 길이: {len(in_list)}')
# print(f'리스트의 첫번째 단어: {in_list[0]}')

['suppose', 'we', 'have', 'few', 'words', 'that', 'are', 'separated', 'by', 'spaces']
리스트의 길이: 10

In [70]:
list1 = ['a', 'b', 'c']
list2 = list1

list2[1] = 100
print(list1)
print(list2)

['a', 100, 'c']
['a', 100, 'c']

In [71]:
list1 = ['a', 'b', 'c']
list2 = list1.copy()

list2[1] = 100
print(list1)
print(list2)

['a', 'b', 'c']
['a', 100, 'c']

In [73]:
#enumerate() => 인덱스와 원소를 쌍으로 묶어줌
 # : iterable한 객체를 인덱스와 원소를 쌍으로 묶어주는 함수
list1 = ['a', 'b', 'c']
score = [88, 75, 70, 100, 99]

for no, s in enumerate(score, start=1):
    # print(f'{no}번 학생의 점수는 {s}점입니다.')
    print(str(no) + '번 학생의 점수는' + str(s) + '점입니다.')

1번 학생의 점수는88점입니다.
2번 학생의 점수는75점입니다.
3번 학생의 점수는70점입니다.
4번 학생의 점수는100점입니다.
5번 학생의 점수는99점입니다.

In [77]:
yoil = ['일', '월', '화', '수', '목', '금', '토']
food = ['김치찌개', '된장찌개', '부대찌개', '비빔밥', '불고기', '갈비찜', '잡채']
menu = zip(yoil, food)

for y, f in menu:
    # print(f'{y}요일의 메뉴는 {food[i]}입니다.') 
    print('%s요일의 메뉴: %s' %(y, f))

일요일의 메뉴: 김치찌개
월요일의 메뉴: 된장찌개
화요일의 메뉴: 부대찌개
수요일의 메뉴: 비빔밥
목요일의 메뉴: 불고기
금요일의 메뉴: 갈비찜
토요일의 메뉴: 잡채

In [96]:
f = open('newText.txt', 'w')
for i in range(1, 11):
    data = '%d번째 줄입니다.\n' % i
    f.write(data)
f.close()

In [82]:
f = open('newText.txt', 'r')
line = f.readline() # 한 줄 읽기
print(line)
f.close()

1번째 줄입니다.

In [85]:
f = open('newText.txt', 'r')
lines = f.readlines() # 여러 줄 읽기
for line in lines:
    line = line.strip() # 줄바꿈 문자 제거
    print(line)   
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [97]:
f = open('newText.txt', 'a')
for i in range(11, 21):
    data = '%d번째 줄입니다.\n' % i
    f.write(data)
f.close()

In [98]:
f = open('newText.txt', 'r')
lines = f.readlines() # 여러 줄 읽기
for line in lines:
    line = line.strip() # 줄바꿈 문자 제거
    print(line)   
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.
20번째 줄입니다.

In [99]:
with open('foo.txt', 'w') as f:
    f.write('Life is too short!\n')
    f.write('Python is great.\n')
    f.write('I love programming.\n')

In [101]:
with open('foo.txt', 'r') as f:
    lines = f.readlines() # 여러 줄 읽기
for line in lines:
    line = line.strip() # 줄바꿈 문자 제거
    print(line)

Life is too short!
Python is great.
I love programming.

In [135]:
import re
total = 0
with open('text.txt', 'r') as t:
    lines = t.readlines()
    for line in lines:
        line = line.strip()
        # print(line)
        words = re.split(r'[\s|,]+', line)
        count = len(words)
        # print(f'count: {count}')
        total += count
print(f'total: {total}')
        # print(words)    
        
    #     comma = re.split(r'[,]+', line)
    #     count = len(comma)
    # print(f'count: {count}')
# print(f'comma: {comma}')

total: 73

In [137]:
total = 0

with open('text.txt', 'r') as t:
    lines = t.readlines()
    for line in lines:
        line = line.strip() # 각 줄의 양쪽 공백(줄바꿈 포함) 제거

        if not line: # 빈 줄은 건너뛰기
            continue

        # 1. 먼저 모든 콤마(,)를 공백으로 바꿉니다.
        #    이렇게 하면 콤마도 단어의 구분자 역할을 하게 됩니다.
        processed_line = line.replace(',', ' ')

        # 2. 공백을 기준으로 문자열을 나눕니다.
        #    split()에 인자를 주지 않으면 여러 개의 공백도 하나의 구분자로 처리하여
        #    결과 리스트에 빈 문자열이 포함되지 않습니다.
        words = processed_line.split()

        count = len(words) # 현재 줄의 단어 개수
        # print(f"줄: '{line}'")
        # print(f"  단어들: {words}")
        # print(f"  이 줄의 단어 개수: {count}\n")

        total += count

print(f'\n총 단어 개수: {total}')

총 단어 개수: 73

In [144]:
def cnt_word1(filepath):
    with open(filepath, 'r') as f:
        txt = f.read()
        
    txt = txt.replace(',', ' ')
    # print(txt)
    txt_list = txt.split(" ")
    return len(txt_list)
        
# cnt_word1('text.txt')
print(f'ex1 :  {cnt_word1("text.txt")}')

ex1 :  72

In [ ]:
import re
def cnt_word2(filepath):
    with open(filepath, 'r') as f:
        txt = f.read()
        
    txt_list = re.split(" |,", txt)
    return len(txt_list)
        
print(f'ex2 :  {cnt_word2("text.txt")}')

ex2 :  72

In [154]:
a = ["one", "two", "three","four"]
b = [30, 20, 15, 75]
c = [5.2, 7.4, 3.6, 4.2]

res = list(zip(a, b, c))
result = {}
for k, v1, v2 in res:
    mult = v1 * v2
    result[k] = mult
        

res_com = {k: v1*v2 for k, v1, v2 in zip(a, b, c)}
print(f'result: {result}')

result: {'one': 156.0, 'two': 148.0, 'three': 54.0, 'four': 315.0}

In [ ]:
result = {}
for x, y, z in zip(a, b, c):
    result[x] = y * z
print(f'ex1: ', result)

ex1:  {'one': 156.0, 'two': 148.0, 'three': 54.0, 'four': 315.0}

In [157]:
print(f'ex2: ', {x: y * z for x, y, z in zip(a, b, c)})

ex2:  {'one': 156.0, 'two': 148.0, 'three': 54.0, 'four': 315.0}

In [166]:
x = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
step1 = 3
step2 = 5
# three = x.split(3)
# print(three)
# three = []
# for i in range(0, len(x), step):
#     three.append(x[i:i+step])
#     # print(x[i:i+step])
# print(three)
three = [x[i:i+step1] for i in range(0, len(x), step1)]
five = [x[i:i+step2] for i in range(0, len(x), step2)]
print(three)
print(five)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I'], ['J', 'K', 'L'], ['M', 'N', 'O'], ['P', 'Q', 'R'], ['S', 'T', 'U'], ['V', 'W', 'X'], ['Y', 'Z']]
[['A', 'B', 'C', 'D', 'E'], ['F', 'G', 'H', 'I', 'J'], ['K', 'L', 'M', 'N', 'O'], ['P', 'Q', 'R', 'S', 'T'], ['U', 'V', 'W', 'X', 'Y'], ['Z']]

In [169]:
def split_n_list(split_size=3):
    split_list = list()
    
    for i in range(0, len(x), split_size):
        # print(i, i+split_size)
        split_list.append(x[i:i+split_size])
    return split_list
# split_n_list()
print('ex1_3 : ', split_n_list(3))
print('ex1_5 : ', split_n_list(5))

ex1_3 :  [['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I'], ['J', 'K', 'L'], ['M', 'N', 'O'], ['P', 'Q', 'R'], ['S', 'T', 'U'], ['V', 'W', 'X'], ['Y', 'Z']]
ex1_5 :  [['A', 'B', 'C', 'D', 'E'], ['F', 'G', 'H', 'I', 'J'], ['K', 'L', 'M', 'N', 'O'], ['P', 'Q', 'R', 'S', 'T'], ['U', 'V', 'W', 'X', 'Y'], ['Z']]