In [3]:
print(2+3)

5

In [4]:
print(2+3)

5

In [8]:
#printsetup
s = '서울'
d = '대전'
g = '대구'
b = '부산'
print(s, d, g, b, sep='   ')

서울   대전   대구   부산

In [12]:
a = '강아지'
b = '고양이'
print(a, end = ' ')
print(b)

강아지 고양이

In [13]:
name = input('이름을 입력하세요 : ')
print ('안녕하세요', name, '님')

이름을 입력하세요 :  s

안녕하세요 s 님

In [14]:
s = """
    오늘은 python 첫 수업
    내일은 두 번째
    모레는 세번쩨
"""
print(s)

    오늘은 python 첫 수업
    내일은 두 번째
    모레는 세번쩨

In [15]:
s = "korea" "japan" "USA"
print(s)

koreajapanUSA

In [18]:
price = int(input('가격을 입력하세요: '))
num = int(input('수량을 입력하세요: '))
sum = price * num
print('총액은', sum, '원 입니다.')

가격을 입력하세요:  1000
수량을 입력하세요:  5

총액은 5000 원 입니다.

In [22]:
print('Python\'s favorite \n food is perl')

Python's favorite
 food is perl

In [24]:
a = 'python'
print(a * 5 )

pythonpythonpythonpythonpython

In [26]:
a = 'Life is too shortm You need Python'
print(len(a))

34

In [30]:
print(a[0],a[1],a[2],a[3],a[-1], a[-2] )

L i f e n o

In [33]:
print(a[0:4])
#slicing

Life

In [34]:
print(a[12:17])

short

In [35]:
print(a[:17])

Life is too short

In [41]:
a = '202550219Rainy'
date = a[:8]
weather = a[9:]
print(date, weather)

20255021 Rainy

In [70]:
a = 'pithon'
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [44]:
#문자열 포매팅
#" 현재 온도는 18도 입니다.'
a = 18
print('현재온도는 %d도 입니다. ' %a)

현재온도는 18도 입니다.

In [57]:
a = 'five'
b = 3
print ('I ate %s apple, %d banana' %(a, b))

I ate five apple, 3 banana

In [52]:
print('%0.2f' %3.1434346)

3.14

In [53]:
print('I eat {0} apple, {1} banana'.format('five',3))

I eat five apple, 3 banana

In [55]:
print('I eat num apple, number banana'.format(num = 'five',number = 3))

I eat num apple, number banana

In [56]:
name = '홍길동'
age = 20
print(f'My name is {name}. age is {age}.')

My name is 홍길동. age is 20.

In [58]:
#print(a, b, c)
#print('  %d  $s   ' %(a,b))
#print(' {0}   {1}   ' .format(a, b))
#print(f' {name}   {age}   ')

In [60]:
#a = True
a = 'Python'
print(type(a))

<class 'str'>

In [69]:
#a = 'Python'
#a = [1, 2, 3]
#a = (1, 2, 3)
#a = 1
#a = []
#a = ''
#a = None
#a = {}
a = False
if a:
    print('true')
else:
    print('false')
#print(type(a))

false

In [2]:
money = 50000
if money >= 20000:
    print('tangsuyuk')
elif money >= 10000:
    print('jjanmbbong')
else:
    print('danmuji')

tangsuyuk

In [13]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print('success')
else: 
    if card:
        print('success')
    else:
        print('falid')

success

In [17]:
student = 1
while student <= 5:
    print(student, '번 학생의 성적을 처리한다. ')
    student += 1

1 번 학생의 성적을 처리한다.
2 번 학생의 성적을 처리한다.
3 번 학생의 성적을 처리한다.
4 번 학생의 성적을 처리한다.
5 번 학생의 성적을 처리한다.

In [24]:
num1 = 1
sum = 0
while num1<=10:
    
    sum += num1
    num1 += 1
print(sum, '합계: ')

55 합계:

In [28]:
num1 = 1
sum = 0
for num1 in range(1,101):
    
    sum += num1
    num1 += 1
print(sum, '합계: ')

5050 합계:

In [1]:
student = 1
for student in [1, 2, 3, 4, 5]:
    print(student, '번 학생의 성적을 처리한다. ')

1 번 학생의 성적을 처리한다.
2 번 학생의 성적을 처리한다.
3 번 학생의 성적을 처리한다.
4 번 학생의 성적을 처리한다.
5 번 학생의 성적을 처리한다.

In [2]:
for student in range(1, 6):
    print(student, '번 학생의 성적을 처리한다. ')

1 번 학생의 성적을 처리한다.
2 번 학생의 성적을 처리한다.
3 번 학생의 성적을 처리한다.
4 번 학생의 성적을 처리한다.
5 번 학생의 성적을 처리한다.

In [46]:
num = 0
sum = 0
for num in range(1, 101, 2):
    sum += num
print('sum = ', sum)

sum =  2500

In [3]:
prompt = """
    1. Add
    2. del
    3. list
    4. quit
"""
num = 0
#input('번호을 입력하세요 : ')
while num != 4:
    print(prompt)
    num = int(input())

    1. Add
    2. del
    3. list
    4. quit

 4

In [2]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [8]:
marks = [90, 25, 67, 45, 80]

#1번 학생은 합격입니다.
#2번 학생은 합격입니다.
#3번 학생은 합격입니다.
#4번 학생은 합격입니다.
#5번 학생은 합격입니다.

for i in range(len(marks)):
    student_num = i + 1 
    if marks[i] >= 60:
        print(f"{student_num}번 학생은 합격입니다.")
    else:
        print(f"{student_num}번 학생은 불합격입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [10]:
marks = [90, 25, 67, 45, 80]
num = 0
for mark in marks:
    num += 1
    if mark < 60:
        print('%d번 학생 불합격입니다.' %num)
    else:
        print('%d번 학생 합격입니다.' %num)

1번 학생 합격입니다.
2번 학생 불합격입니다.
3번 학생 합격입니다.
4번 학생 불합격입니다.
5번 학생 합격입니다.

In [11]:
marks = [90, 25, 67, 45, 80]
for num in range(len(marks)):
    if marks[num] < 60:
        continue
    else: 
        print('%d번 학생 합격입니다.' %(num+1))

1번 학생 합격입니다.
3번 학생 합격입니다.
5번 학생 합격입니다.

In [13]:
#[3, 6, 9, 12]
result = []
a = [1, 2, 3, 4]

for num in a:
    result.append(num * 3)
print(result)

[3, 6, 9, 12]

In [16]:
a = [1, 2, 3, 4]
result = [val * 3 for val in a]
print(result)

[3, 6, 9, 12]

In [17]:
#list comprehension
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [19]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [26]:
x = ["grapes", "mango", "orange", "peach", "apple", "lime", "banana", "cherry", "tomato", "kiwi", "blueberry", "watermelon"]

result = [ item.upper() for item in x if item in ["apple", "kiwi"]]

print(result)

['APPLE', 'KIWI']

In [27]:
x = ["grapes", "mango", "orange", "peach", "apple", "lime", "banana", "cherry", "tomato", "kiwi", "blueberry", "watermelon"]
result = []
for item in x:
    if item == "apple" or item == "kiwi":
        result.append(item.upper())
print(result)

['APPLE', 'KIWI']

In [28]:
x = ["grapes", "mango", "orange", "peach", "apple", "lime", "banana", "cherry", "tomato", "kiwi", "blueberry", "watermelon"]
result = list(map(str.upper, filter(lambda item: item in ["apple", "kiwi"], x)))
print(result)

['APPLE', 'KIWI']

In [29]:
ex1 = []
for i in range(len(x)):
    if x [i] == 'apple' or x[i] == 'kiwi':
        ex1.append(x[i].upper())
print(f'ex1 result: {ex1}')

ex1 result: ['APPLE', 'KIWI']

In [31]:
ex2 = [a.upper() for a in x if a == 'apple' or a =='kiwi']
print(f'ex2 result: {ex2}')

ex2 result: ['APPLE', 'KIWI']

In [42]:
m2 = [num * 10 if num%2 !=0 else num for num in range(1, 21) ]
print(m2)

[10, 2, 30, 4, 50, 6, 70, 8, 90, 10, 110, 12, 130, 14, 150, 16, 170, 18, 190, 20]

In [44]:
ex1 = []
for i in range(1, 21):
    if i % 2 !=0:
        ex1.append(i *10)
    else:
        ex1.append(i)
print(f'ex1 result: {ex1}')

ex1 result: [10, 2, 30, 4, 50, 6, 70, 8, 90, 10, 110, 12, 130, 14, 150, 16, 170, 18, 190, 20]

In [45]:
print(f'ex2 result: {[x * 10 if x%2 !=0 else x for x in range(1, 21)]}')

ex2 result: [10, 2, 30, 4, 50, 6, 70, 8, 90, 10, 110, 12, 130, 14, 150, 16, 170, 18, 190, 20]

In [48]:
odd = [1, 3, 5, 7, 9 ]
a = ['Life', 'is', 'too', 'short']
b = [1, 3, 'Life', 'is']
c = [1, 3, ['Life', 'is']]

In [49]:
a = [1, 2, 3]
print(a[0])
print(a[0] + a[2])
print(a[-1])

1
4
3

In [51]:
e = [1, 2, ['Life', 'is']]
print(e[2])
print(e[2][0])

['Life', 'is']
Life

In [52]:
a = [1, 2, 3, 4, 5]
b = a[2:]
print(b)

[3, 4, 5]

In [55]:
a = [1, 2, 3]
b = [4, 5, 6]
print(a+b)
print(a *3)
print(len(a))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [58]:
a = [1, 2, 3]
a[2] = 4
print(a)

del a[1]
print(a)

[1, 2, 4]
[1, 4]

In [70]:

a.append([5,6])

print(a)

[3, 2, 1, [5, 6]]

In [71]:
a = [1,3,2]
a.sort()
print(a)

[1, 2, 3]

In [72]:
a.reverse()
print(a)

[3, 2, 1]

In [73]:
print(a.index(3))

0

In [74]:
print(a.index(6))

ValueError: 6 is not in list

In [77]:
a = [1,3,2]
print(a.pop())
print(a.pop(1))
print(a)

2
3
[1]

In [79]:
a = [1,3,2, 1, 4, 1]
print(a.count(1))

3

In [84]:
a = [1, 2, 3]
a.extend([4,5])
print(a)

[1, 2, 3, 4, 5]

In [87]:
num = [str(num * 10) for num in range(1, 16) ]
print(num)

['10', '20', '30', '40', '50', '60', '70', '80', '90', '100', '110', '120', '130', '140', '150']

In [93]:
ms3 = list(map(lambda num: str(num * 10), range(1, 16)))

print(ms3)

['10', '20', '30', '40', '50', '60', '70', '80', '90', '100', '110', '120', '130', '140', '150']

In [95]:
ex1 = []
for i in range (1, 16):
    ex1.append(str(i *  10))

print(f'ex1 result : {ex1}')

ex1 result : ['10', '20', '30', '40', '50', '60', '70', '80', '90', '100', '110', '120', '130', '140', '150']

In [107]:
print(f'ex2 result : {[str(x*10) for x in range(1,16)]}')

ex2 result : ['10', '20', '30', '40', '50', '60', '70', '80', '90', '100', '110', '120', '130', '140', '150']

In [100]:
#map() : 리스트나 튜플의 각 요소에 같은 함수를 적용
#리턴값: map => list()변환
#map(함수, 리스트 / 튜플)

In [104]:

numbers = [1, 2, 3, 4, 5]

def double(x):
    return x * 2
#result = map(double, numbers)
result = map(lambda x: x * 2, numbers)
print(list(result))

[2, 4, 6, 8, 10]

In [106]:
print(f'ex3 result : {list(map(lambda x : str(x * 10), range(1, 16)))}')

ex3 result : ['10', '20', '30', '40', '50', '60', '70', '80', '90', '100', '110', '120', '130', '140', '150']

In [124]:
a = input(" > 1번째 숫자: ")
b = input(" > 2번째 숫자: ")

#print(f'{a} + {b} = {int(a) + int(b)}')
print("{a} + {b} = {sum}".format(a=a, b=b, sum=int(a) + int(b)))

 > 1번째 숫자:  1
 > 2번째 숫자:  1

1 + 1 = 2

In [126]:
string = 'hello'
string.upper()
print('A : ', string)
print('B : ', string.upper())

A :  hello
B :  HELLO

In [137]:
a = int(input(" > 1번째 숫자: "))
b = int(input(" > 2번째 숫자: "))

if a > b:
    print('처음 입력한 {0}이/가 {1}보다 큽니다.'.format('%0.1f' %a, '%0.1f' %b))
elif a < b:
    print('처음 입력한 {0}이/가 {1}보다 작습니다.'.format(a, b))
else:
    print('처음 입력한 {0}와/과 {1}와/과 같습니다.'.format(a, b))

 > 1번째 숫자:  4
 > 2번째 숫자:  4

처음 입력한 4와/과 4와/과 같습니다.

In [139]:
x = 10
y = 2

if x> 4:
    if y > 2:
        print(x * y)
    else:
        print(x - y)
else:
    print(x + y)

8

In [142]:
x = 10
if 10 < x <20:
    print('조건에 맞습니다.')

In [151]:
str_input = input('태어난 해를 입력해주세요 > ')
birth_year = int(str_input)

print(f'{birth_year} 년생은')
if birth_year % 12 == 0:
    print('원숭이 띠')
elif birth_year % 12 == 1:
    print('닭 띠')
elif birth_year % 12 == 2:
    print('개 띠')
elif birth_year % 12 == 3:
    print('돼지 띠')
elif birth_year % 12 == 4:
    print('쥐 띠')
elif birth_year % 12 == 5:
    print('소 띠')
elif birth_year % 12 == 6:
    print('범 띠')
elif birth_year % 12 == 7:
    print('토끼 띠')
elif birth_year % 12 == 8:
    print('용 띠')
elif birth_year % 12 == 9:
    print('뱀 띠')
elif birth_year % 12 == 10:
    print('말 띠')
elif birth_year % 12 == 11:
    print('양 띠')

태어난 해를 입력해주세요 >  1989

1989 년생은
뱀 띠

In [159]:
list_a = [0, 1, 2, 3, 3, 4, 5, 6, 7]

#list_a.extend(list_a)
print(list_a)
list_a.append(10)
print(list_a)
list_a.insert(3, 0)
print(list_a)
list_a.remove(3)
print(list_a)
list_a.pop(3)
print(list_a)
list_a.clear()
print(list_a)

[0, 1, 2, 3, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 3, 4, 5, 6, 7, 10]
[0, 1, 2, 0, 3, 3, 4, 5, 6, 7, 10]
[0, 1, 2, 0, 3, 4, 5, 6, 7, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 10]
[]

In [196]:
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

# for number in numbers:
#     if number >= 100:
#         print('100 이상의 수: ', number)
#     else:
#         #print(number, end=' ')
#         continue
# print('last number : ', number)
result = [num for num in numbers if num >= 100]
#even = [num for num in numbers if num % 2 ==0]
# for even in numbers:
#     if even % 2 == 0:
#         print(f'{even}은/는 짝수입니다.')
#     else:
#         print(f'{even}은/는 홀수입니다.')
# print(result)
#print(f'{odd}은/는 짝수입니다.')
# messages = [f'{num}은/는 짝수입니다.' if num % 2 == 0 else f'{num}은/는 홀수입니다.' for num in numbers]

# 생성된 메시지 출력
# for msg in messages:
#     print(msg)

# 또는 더 간단하게:
# print('\n'.join(messages))

for digit in numbers:
    if digit >= 100:
        print(f'{digit} 은/는 3자릿수입니다.')
    elif digit >= 10:
        print(f'{digit} 은/는 2자릿수입니다.')
    else:
        print(f'{digit} 은/는 1자릿수입니다.')

# digit = [f' {num}은/는 3자릿수입니다.' if num >= 100 else (f' {num}은/는 2자릿수입니다.' if num >= 10 else f' {num}은/는 1자릿수입니다.') for num in numbers]

# print(digit)

273 은/는 3자릿수입니다.
103 은/는 3자릿수입니다.
5 은/는 1자릿수입니다.
32 은/는 2자릿수입니다.
65 은/는 2자릿수입니다.
9 은/는 1자릿수입니다.
72 은/는 2자릿수입니다.
800 은/는 3자릿수입니다.
99 은/는 2자릿수입니다.